.title {
  position:relative;
  top:-120px;
 right:-200px;
}          
  ul {
  list-style-type: none;
  margin: 10px;
  padding: 0px;
  width: 132px;
  background-color: #002244;  
}       
 li a {
  display: block;
  width: 100px;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  color:#7AC142;                               
}  li a:hover {
  background-color: #555;
  color: #7AC142;
}
h1{float:center;
color:#002244;
font-size:70px;
}
body{background-color:#A5acaf;overflow-x:hidden;
font-family:'Courier New';

.column {
  float: left;
  padding: 10px;
  height: 500px;  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.left {
  width: 25%;
}
.right {
  width: 75%;
}
* {
  box-sizing: border-box;
}
img{
width:80%;
opacity: 0.5;
}
.center{
 display: block;
  margin-left: auto;
  margin-right: auto;
}
.image{position:relative;
top:-320px;}