.title {
  position:relative;
  top:-120px;
 right:-400px;
}          
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 107px;
  background-color: #002244;
      
}
          
            
            
            
           li a {
  display: block;
  width: 75px;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  color:white;
                      
             
}
        li a:hover {
  background-color: #555;
  color: white;
}




h1{float:center;
color:#002244;
font-size:70px;

}
body{background-color:#A5acaf;overflow-x:hidden;}

.column {
  float: left;
  padding: 10px;
  height: 450px; 
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.left {
  width: 25%;
}

.right {
  width: 75%;
}
* {
  box-sizing: border-box;
}

img{
width:25%;
border-radius:50%;


}

.center{
 display: block;
  margin-left: auto;
  margin-right: auto;
  

}

.image{position:relative;
top:-175px;}